<%- include('includes/header') %>

<div class="container py-md-5">
    <%- include('includes/flash') %>
    <div class="row align-items-center">
        <div class="col-lg-7 py-3 py-md-5">
            <h1 class="display-3">All About Apologetics</h1>
            <p class="lead text-muted">
                When your asked hard hitting questions on Christainty and you
                don't have the answer. You dig deep to get the answer and then
                you draft it together. What's next? That's when this site was
                born. This site is a dedicated centralized repository for
                Christains that have done their research and want to share their
                faith. When writing a post, you can use Markdown to format it.
                Here's a
                <a
                    href="https://github.com/adam-p/markdown-here/wiki/markdown-cheatsheet"
                    target="_blank"
                    >cheat sheet</a
                >
                to get you start it if your new to it.
            </p>
            <p>
                Use
                <a href="https://en.gravatar.com/" target="_blank">Gravatar</a>
                to have your pic show up and make sure to use the same email
                address that you use with Gravatar's website when you create
                your account here →.
            </p>
        </div>
        <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
            <form action="/register" method="POST" id="registration-form">
                <% regErrors.forEach(function(message) {%>
                <div class="alert alert-danger small"><%= message %></div>
                <% }) %>
                <div class="form-group">
                    <label for="username-register" class="text-muted mb-1"
                        ><small>Username</small></label
                    >
                    <input
                        name="username"
                        id="username-register"
                        class="form-control"
                        type="text"
                        placeholder="Pick a username"
                        autocomplete="off"
                    />
                </div>

                <div class="form-group">
                    <label for="email-register" class="text-muted mb-1"
                        ><small>Email</small></label
                    >
                    <input
                        name="email"
                        id="email-register"
                        class="form-control"
                        type="text"
                        placeholder="you@example.com"
                        autocomplete="off"
                    />
                </div>

                <div class="form-group">
                    <label for="password-register" class="text-muted mb-1"
                        ><small>Password</small></label
                    >
                    <input
                        name="password"
                        id="password-register"
                        class="form-control"
                        type="password"
                        placeholder="Create a password"
                    />
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button
                    type="submit"
                    class="py-3 mt-4 btn btn-lg btn-success btn-block"
                >
                    Create Your Account
                </button>
            </form>
        </div>
    </div>
</div>

<%- include('includes/footer') %>
